n8n.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "sendPhoto",
                "chatId": "872682533",
                "binaryData": true,
                "binaryPropertyName": "linkedin_image",
                "additionalFields": {
                    "caption": "=🔥FOR APPROVAL🔥 Image preview",
                    "parse_mode": "HTML"
                }
            },
            "id": "a9a9b948-4259-4742-abc9-90bf72bebd54",
            "name": "Telegram Send Photo",
            "type": "n8n-nodes-base.telegram",
            "position": [
                592,
                528
            ],
            "typeVersion": 1.2,
            "webhookId": "8a26dd13-149c-4ea8-aa6e-0b83497cf252",
            "credentials": {
                "telegramApi": {
                    "id": "kwDq0NLVn57SwUtp",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "72d13239-d282-4e6b-b967-4db6d0ea6509",
                            "leftValue": "={{ $json.net_list }}",
                            "rightValue": "ln",
                            "operator": {
                                "type": "array",
                                "operation": "contains",
                                "rightType": "any"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                400,
                720
            ],
            "id": "3fdfbe3c-5117-4ddf-8278-59db2296d4d9",
            "name": "If"
        },
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                48,
                720
            ],
            "id": "31daf337-1a33-43e7-8e70-b90fac170faa",
            "name": "When Executed by Another Workflow"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "efe337a1-63e0-4513-873d-421bf41e4868",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.data.approved }}",
                            "rightValue": ""
                        }
                    ]
                },
                "options": {}
            },
            "id": "1b309986-4a49-411a-8f8c-bf60555f6e9c",
            "name": "Is Approved?1",
            "type": "n8n-nodes-base.if",
            "position": [
                880,
                528
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "jsCode": "// Беремо перший item з входу\nconst input = $('Normalize Data').first();\n\n// JSON частина (дані)\nconst payload = input.json || {};\n\n// Binary частина (файли)\nconst binary = input.binary || {};\n\n// Формуємо список мереж\nconst rawNetList = Array.isArray(payload.net_list)\n  ? payload.net_list // якщо вже масив — використовуємо\n  : String(payload.net || '') // якщо рядок\n      .split(',') // ділимо по комі\n      .map(v => v.trim().toLowerCase()) \n      .filter(Boolean); // прибираємо пусті значення\n\n// Дозволені мережі\nconst allowedNetworks = ['tg', 'ln', 'inst', 'fb', 'gb', 'th'];\n\n// Фільтр + видалення дублікатів\nconst netList = [...new Set(\n  rawNetList.filter(v => allowedNetworks.includes(v))\n)];\n\n// Проходимо по кожній мережі і створюємо окремий item\nreturn netList.map((network, index) => {\n\n  // Базовий payload для публікації\n  let publishPayload = {\n    network,\n    post_id: payload.id || null,\n    source: payload // оригінальні дані\n  };\n\n  // Для TG / Instagram / Facebook\n  if (['tg', 'inst', 'fb'].includes(network)) {\n    publishPayload.content = {\n      title: payload.title || '',\n      body: payload.rawInput || '',\n      cta: payload.cta || '',\n      link_in: payload.link_in || '',\n      image: payload.cloudinary || null // URL картинки\n    };\n\n  // Для LinkedIn\n  } else if (network === 'ln') {\n    publishPayload.content = {\n      title: payload.en?.title || payload.title || '',\n      body: payload.en?.body || payload.rawInput || '',\n      cta: payload.en?.cta || payload.cta || '',\n      link_in: payload.link_in || '',\n      imageBinaryField: binary.linkedin_image ? 'linkedin_image' : null\n      // якщо є binary — передаємо назву поля\n    };\n\n  // Для Google Business / Threads\n  } else if (['gb', 'th'].includes(network)) {\n    publishPayload.content = {\n      title: payload.title || '',\n      body: payload.rawInput || '',\n      cta: payload.cta || '',\n      link_in: payload.link_in || ''\n      // без картинки\n    };\n  }\n\n  // Повертаємо item для n8n\n  return {\n    json: {\n      network,\n      publishPayload,\n      status: 'pending' // статус для подальшої обробки\n    },\n    binary, // проброс binary далі\n    pairedItem: index // важливо для matching items\n  };\n});"
            },
            "id": "d13627ed-ac6e-4835-ad83-a54e1a7084f4",
            "name": "Build Publish Queue",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1024,
                720
            ]
        },
        {
            "parameters": {
                "operation": "sendAndWait",
                "chatId": "872682533",
                "message": "=🔥FOR APPROVAL🔥 Post\n\n**Topic:**\n{{ $('Normalize Data').item.json.en.title }}\n\n**Body:**\n{{ $('Normalize Data').item.json.en.body }}\n\n**CTA:**\n{{ $('Normalize Data').item.json.en.cta }}",
                "approvalOptions": {
                    "values": {
                        "approvalType": "double"
                    }
                },
                "options": {
                    "limitWaitTime": {
                        "values": {
                            "resumeAmount": 45,
                            "resumeUnit": "minutes"
                        }
                    },
                    "appendAttribution": false
                }
            },
            "id": "bc831757-ba63-4b73-8599-e39e95d8361d",
            "name": "Telegram Approval",
            "type": "n8n-nodes-base.telegram",
            "position": [
                752,
                528
            ],
            "webhookId": "c46cf421-ddb6-45a8-b83b-80b381666f0e",
            "typeVersion": 1.2,
            "credentials": {
                "telegramApi": {
                    "id": "kwDq0NLVn57SwUtp",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "smm-post-input",
                "options": {
                    "binaryPropertyName": "data",
                    "ignoreBots": true
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                48,
                976
            ],
            "id": "c7e0dcfc-0a10-4ff8-931a-d087dc661db1",
            "name": "Webhook",
            "webhookId": "0a0e82d7-5469-4490-9ab7-df8a0b6470cc"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={{ {\n  \"id\": $json.id ?? \"\",\n  \"status\": $json.status ?? \"ready\",\n  \"inputType\": $json.inputType ?? \"case\",\n  \"author\": $json.author ?? \"\",\n  \"submittedAt\": $json.submittedAt ?? \"\",\n  \"title\": $json.title ?? \"\",\n  \"cta\": $json.cta ?? \"\",\n  \"net\": $json.net ?? \"\",\n  \"net_list\": Array.isArray($json.net_list)\n    ? $json.net_list.map(v => String(v).trim().toLowerCase()).filter(Boolean)\n    : String($json.net ?? \"\").split(\",\").map(v => v.trim().toLowerCase()).filter(Boolean),\n  \"keywords\": $json.keywords ?? \"\",\n  \"link_in\": $json.link_in ?? \"\",\n  \"rawInput\": $json.rawInput ?? \"\",\n  \"cloudinary\": $json.cloudinary ?? null,\n  \"en\": $json.en ?? {\n    \"title\": $json.title ?? \"\",\n    \"body\": $json.rawInput ?? \"\",\n    \"cta\": $json.cta ?? \"\"\n  },\n  \"trigger_source\": $prevNode.name ?? \"unknown\"\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                240,
                720
            ],
            "id": "5bcba6be-77cb-4288-9ec3-be9136fa4131",
            "name": "Normalize Data"
        }
    ],
    "connections": {
        "Telegram Send Photo": {
            "main": [
                [
                    {
                        "node": "Telegram Approval",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Telegram Send Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Publish Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Approved?1": {
            "main": [
                [
                    {
                        "node": "Build Publish Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Publish Queue": {
            "main": [
                []
            ]
        },
        "Telegram Approval": {
            "main": [
                [
                    {
                        "node": "Is Approved?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "When Executed by Another Workflow": [
            {
                "id": "ready_mpy0ok4d_4j80gnhg",
                "status": "ready",
                "inputType": "case",
                "author": "872682533",
                "submittedAt": "01.06.2026, 19:07:42",
                "title": "Налаштуємо звіт, який показує не ліди, а гроші!",
                "cta": "Напишіть",
                "net": "tg, ln, inst, fb, gb, th",
                "net_list": [
                    "tg",
                    "ln",
                    "inst",
                    "fb",
                    "gb",
                    "th"
                ],
                "keywords": "#тег, #тег2",
                "link_in": "https://www.youtube.com/watch?v=o0mTRneJHM0",
                "rawInput": "Що ви отримуєте:\n• розуміння, звідки приходять гроші\n• можливість оцінювати ефективність реклами за фактичними продажами\n• контроль маркетингу на рівні бізнесу\n\nЗвіт, який дає чітку картину.\n\nНапишіть — покажемо, як це виглядатиме у вашому випадку.",
                "cloudinary": {
                    "asset_id": "5d9294e7a8043ff166be7b2bd4a31c6d",
                    "public_id": "ubf0lf2klviwoqasjqff",
                    "version": 1780485881,
                    "version_id": "7bf0b2e62d6463215f08aa0cccb1efcc",
                    "signature": "65d4a1fda6827747118e455a18b7a749deb5448c",
                    "width": 639,
                    "height": 800,
                    "format": "jpg",
                    "resource_type": "image",
                    "created_at": "2026-06-03T11:24:41Z",
                    "tags": [],
                    "bytes": 78955,
                    "type": "upload",
                    "etag": "c86b8d00123c741cb4beb6ac96769381",
                    "placeholder": false,
                    "url": "http://res.cloudinary.com/dijus6jha/image/upload/v1780485881/ubf0lf2klviwoqasjqff.jpg",
                    "secure_url": "https://res.cloudinary.com/dijus6jha/image/upload/v1780485881/ubf0lf2klviwoqasjqff.jpg",
                    "asset_folder": "",
                    "display_name": "ubf0lf2klviwoqasjqff",
                    "original_filename": "file_1",
                    "api_key": "414694627112843"
                },
                "en": {
                    "title": "Get a Report That Shows Revenue, Not Just Leads!",
                    "body": "What you get:\n• Clear insight into your revenue sources\n• The ability to evaluate ad effectiveness based on actual sales\n• Business-level control over your marketing\n\nA report that provides a crystal-clear picture.\n\nMessage us to see how this would look for your specific business.",
                    "cta": "Message us"
                },
                "myNewField": 1
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0876d0a4e615e10c4ca6e5915eeba68612b2ede9e6edac5512bb0b4260dd5dc5"
    }
}